<div class="weather">
    <main class="weather__main">
        <article class="weather__info" aria-label="Weather information for {{weather.location.city}}">
            <div class="weather__content">
                <h1 class="weather__location">{{weather.location.city}}</h1>

                <div class="weather__temperature" aria-label="Current temperature">
                    <span aria-label="19 degrees">{{weather.temperature.feelsLike}}</span>
                </div>

                <div class="weather__details">
                    <p class="weather__status">{{weather.weather.description}}</p>
                    <div class="weather__forecast">
                        <span>H: <span class="weather__degree">{{weather.temperature.maximum}}</span></span>
                        <span>L: <span class="weather__degree">{{weather.temperature.minimum}}</span></span>
                    </div>
                </div>
            </div>

            <img class="weather__image" src="{{assetURL}}/images/house.png"
                alt="Current weather conditions in {{weather.location.city}}" loading="lazy">
            <section class="drawer">
                {{> detail}}
            </section>
        </article>
    </main>
</div>